@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  /* background-color: #e5e5e5; */
  background-color: #eaf1f6;

}

/* Input et textarea */
input {
  border-radius: 6px !important;
  /* background-color: #fafbfc !important; */

  /* box-shadow: inset 1px 1px 1px 1px #e6e8ec !important; */
  /* background-color: #f2f4f5 !important; */

  -moz-box-shadow:    inset 0 0 1.4px  #e6e8ec;
   -webkit-box-shadow: inset 0 0 1.4px  #e6e8ec;
   box-shadow:         inset 0 0 1.4px  #e6e8ec;
}
input:read-only {
  border-radius: 6px !important;
  /* background-color: #fafbfc !important; */
  /* background-color: #f2f4f5 !important; */
}
.is-invalid:focus{
  border: 1.5px solid red !important;
}
input:focus{
  border-radius: 6px !important;
  /* background-color: #ffffff !important; */
  /* box-shadow: 1px 1px 1px 1px blue !important; */
  border: 1.5px solid #428ce0 !important;

}
.input-group .form-control{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
textarea {
  border-radius: 6px !important;
  /* background-color: #fafbfc !important; */
  /* background-color: #f2f4f5 !important; */
}
textarea:focus{
  border-radius: 6px !important;
  /* background-color: white !important; */
  /* box-shadow: 1px 1px 1px 1px blue !important; */
  border: 1.5px solid #428ce0 !important;
}
textarea{
  border-radius: 6px !important;
}
/* Boutons */

.card{
  border-radius: 7px !important;
}

.btn-success{
  box-shadow: none !important;
}
.btn-danger{
  box-shadow: none !important;
  /* background-color: #eb3647 !important; */
}
.btn-secondary{
  box-shadow: none !important;
}
a{
  color: #0944b3;
}
a:hover{
  text-decoration: none;
}
.btn-primary
{
  background-color: #0944b3 !important;
  /* background-color: #0b2a64 !important; */
  border: 1px solid #0944b3 !important;
  box-shadow: none !important;
}
.btn-primary:hover
{
  background-color: #303d72 !important;
  border: 1px solid #303d72 !important;
  box-shadow: none !important;
}
.btn-outline-primary
{
  color: #0944b3 !important;
  border-color: #0944b3 !important;
  box-shadow: none !important;
}
.btn-outline-primary:hover
{
  color: white !important;
  background-color: #0944b3 !important;
  border-color: #0944b3 !important;
  box-shadow: none !important;
}


/* Menu animation */
.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity:0;
  transform: translateY(-50px);
  transition:.2s ease all;
}
.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity:1;
  transform: translateY(0px);
  transition:.2s ease all;
}
/* menu button */
.dropdown-menu{
  width: 334px !important;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
  z-index: 991;
  position: absolute;
  /* right: 0px; */
  top: 62px;
  /* max-height: calc(100vh - 62px -100px); */
  line-height: normal;
  border-color: #0944b3;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

@media (max-width: 767.98px) {
  .dropdown-menu{
    /* width: 80% !important; */
  }
}

.dropdown-menu .btn-menu{
  border-radius: 20px; border: 2px solid black;
  padding: 7px;
}
